/*
color palette
#F16634 (orange)
#1D3D71 (dark blue)
#3A6CB6 (light blue)
#383838 (dark grey)
#F2F6F8 (light grey)
*/

body {
  font-family: "Montserrat";
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.dark-blue,
.dropdown-menu {
  background-color: #1d3d71;
}

.orange {
  background-color: #f16634;
  color: #fff;
}

.orange button:hover {
  background-color: #fff;
  border: 1px solid #f16634;
  color: #f16634;
}

.nav-link {
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.nav-link:hover,
.nav-link:active,
.nav-link:visited {
  border-bottom: 2px solid #f16634;
  color: #fff;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #f16634;
  color: #fff;
}

.regis {
  font-size: 0.8em;
  margin: 5px 0;
  font-style: italic;
}

.row {
  margin: 10px;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: #818181;
  opacity: 0.2;
}

.caro {
  width: 50%;
  height: 280px;
  margin: 15px auto;
}

.caro img {
  height: 280px;
  object-fit: cover;
}

.card-img-top-abt {
  height: 250px;
  object-fit: cover;
  margin-top: 10px;
}

.card-title {
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  color: #1d3d71;
}

.card-footer {
  color: #fff;
}

.form-label {
  margin-top: 10px;
}

.sidebar {
  width: 18%;
  float: left;
  position: fixed;
  height: 100%;
  top: 50px;
  z-index: -1;
  padding: 15px;
  background-color: #f16634;
  color: #fff;
  overflow: auto;
}

.sidebar h3 {
  font-size: 21px;
  text-align: left;
}

.sidebar button {
  display: block;
  border: none;
  margin: 10px 0px;
  width: 95%;
  padding: 5px;
}

.sidebar button:hover {
  background-color: #1d3d71;
}

.details {
  padding: 25px;
}

.details img {
  width: 200px;
}

.judul {
  font-family: "Alfa Slab One";
  color: #f16634;
  letter-spacing: 2px;
  font-size: 32px;
  text-align: center;
  margin: 25px;
}

.fixed-table {
  position: fixed;
  background-color: #fff;
  overflow-y: scroll;
  width: 100%;
  height: 84%;
  margin-left: 18%;
}

.fixed {
  bottom: 0;
  position: fixed;
}

.footer {
  padding: 10px;
}

.footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.footer img {
  width: 20px;
}
